li {
  color: pink;
}

button {
  background-color: green;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  margin: 0 3px;
}

.remove {
  background-color: red;
}
